*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: #333333;
    color: white;
}

main{
    font-size: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-color: #444444;
    color: white;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: #333333;
    color: white;
}