*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: #333333;
    color: white;
}

main{
    font-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-color: #444444;
    color: white;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: #333333;
    color: white;
}

.clock{
    font-size: 200%;
    text-align: center;
}

.calendar{
    font-size: 120%;
    text-align: center;
}

.greeting-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.name{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    border: none;
    background: none;
    border: none;
    outline: none;
    color: white;
}

.name::placeholder{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    color: white;
}