*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    background-size: cover;
    height: 100vh;
    transition: background-image 1s ease-in-out;
}

header{
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #333333;
    opacity: 0.9;
    color: white;
}

main{
    font-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5% 10%;
    height: 100%;
    width: 100%;
    color: white;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #333333;
    opacity: 0.9;
    color: white;
}

.clock{
    font-size: 200%;
    text-shadow: 4px 3px 2px black;
    text-align: center;
}

.calendar{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 5px;
    font-size: 120%;
    text-align: center;
}

.greeting-wrapper{
    text-shadow: 2px 2px 2px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name{
    font-family: 'Ubuntu', sans-serif;
    font-size: 100%;
    background: none;
    color: white;
    border: none;
    outline: none;
    text-align: center;
}

.name::placeholder{
    font-style: italic;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

.weather-wrapper{
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(6px);
    text-shadow: 2px 1px 2px black;
}

.weather-icon{
    font-size: 50px;
}

.weather-search{
    display: flex;
    flex-direction: row;
}

.city{
    border: 0;
    outline: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    text-align: center;
}

.search{
    height: 32px;
    width: 32px;
    background-size: 20px;
    background-image: url(src/mag-glass.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.search:hover{
    transform: scale(1.2);
}

.arrows{
    height: 40px;
    width: 40px;
    position: absolute;
    padding: 5px;
    top: 50%;
    cursor: pointer;
}

.arrows:hover{
    background-color: #333333;
    border-radius: 15px;
}

.arrow-left{
    transform: rotate(180deg);
    left: 16px;
}

.arrow-right{
    right: 16px;
}

.quote-wrapper{
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote{
    text-align: center;
    font-style: italic;
}

.author{
    font-weight: bold;
}

.shuffle-button{
    padding: 5px;
    height:32px;
    width: 32px;
    cursor: pointer;
}

.shuffle-button:hover{
    background-color: #333333;
    border-radius: 14px;
}

.audio-player-wrapper{
    padding: 30px;
    background-color: rgba(120, 120, 120, 0.8);
    box-shadow: 0px 4px 3px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s;
}

.player-buttons{
    display: flex;
    flex-direction: row;
}

.player-button{
    height: 32px;
    width: 32px;
    cursor: pointer;
}

.player-button:hover{
    transform: scale(1.3);
    transition-duration: 0.2s;
}

.previous{
    background-image: url(src/previous.svg);
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
}

.next{
    background-image: url(src/next.svg);
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
}

.play{
    background-position: center;
    background-image: url(src/play.svg);
    background-size: 32px;
    background-repeat: no-repeat;
}

.pause{
    background-position: center;
    background-image: url(src/pause.svg);
    background-size: 16px;
    background-repeat: no-repeat;
}

.current-track{
    background-color:rgba(255, 255, 255, 0.5);
    transition: 0.5s;
}

.current-track-display{
    height: 28px;
}

.progress-bar{
    width: 100%;
    height: 10px;
    background-color: white;
    cursor: pointer;
}

.progress{
    background-color: green;
    width: 0%;
    height: 100%;
}

.time{
    display: flex;
    flex-direction: row;
}

.volume-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.volume-progress-bar{
    width: 50%;
    height: 10px;
    background-color: white;
    cursor: pointer;
}

.volume-progress{
    width: 50%;
    height: 10px;
    background-color: orange;
}

.volume-button{
    height: 32px;
    width: 32px;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.volume-button:hover{
    transform: scale(1.3);
    transition-duration: 0.2s;
}

.on{
    background-image: url(src/volume.svg);
}

.off{
    background-image: url(src/volume-off.svg);
}

.button-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.hide-button{
    background-color: lightgreen;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    transition: background-color 1s;
}

.hide-button:hover{
    color: white;
}

.hide-button:active{
    transform: scale(1.2);
}

.hidden{
    opacity: 0;
}

.slow{
    transition: 1s;
}

.hide-button-toggle{
    background-color: lightcoral;
}

.language-wrapper{
    justify-content: center;
    align-items: center;
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.language-button{
    cursor: pointer;
}

.language-button:hover{
    color: #333333;
    background-color: white;
}

.select{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}
/*placing*/
.player-and-weather-wrapper{
    padding: 20px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.clock-and-greeting-wrapper{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}